@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <h3><span>@ViewBag.Title</span></h3>

    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Role Name</label>
                    <div class="col-md-10 align-fix">
                        @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "button button-default" })
                        <input type="submit" value="Delete" class="button button-danger" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>