<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />@*helps with rendering in IE*@
    <title>@ViewBag.Title > DocuSign Demo</title>
    <link rel="shortcut icon" href="~/Content/Icons/favicon.ico?v=3" />

    @Styles.Render("~/Content/fa")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection(("styles"), required: false)
</head>

<body>

    @Html.Partial("_SideMenu")

    @RenderBody()



    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/Site/Core/docusignDemo.core.js"></script>
    @RenderSection("scripts", required: false)
</body>



</html>
