@if (User.Identity.IsAuthenticated)
{
    <nav class="side-menu">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home", new {Area = ""})">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                    Home
                </span>
                </a>
            </li>
           
            @Html.Partial("_LoginPartial")

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <span class="nav-text"></span></li>
                <li>
                    <a href="@Url.Action("Index", "Templates", new {Area = "Admin"})">
                        <i class="fa fa-file-code-o fa-2x"></i>
                        <span class="nav-text">
                            Manage Templates
                        </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Users", new {Area = "Admin"})">
                        <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                    Manage Users
                </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Roles", new {Area = "Admin"})">
                        <i class="fa fa-cog fa-2x"></i>
                        <span class="nav-text">
                    Manage Roles
                </span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}